<p-table [value]="items" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
        <tr>
            <th>Código</th>
            <th>Nombre de Proyecto</th>
            <th>Presupuesto</th>
            <th>Área</th>
            <th>Programa</th>
            <th>
                <p-button pTooltip="Crear" [icon]="PrimeIcons.PLUS" severity="success"
                          (onClick)="redirectCreateProgram()" />
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-item>
        <tr>
            <td>{{ item.code }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.amount |  currency:'USD':'symbol':'1.2-2' }}</td>
            <td>{{ item.area }}</td>
            <td>{{ item.program }}</td>
            <td>
                <p-button [icon]="PrimeIcons.ELLIPSIS_V" (onClick)="selectItem(item)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<app-button-action
    [buttonActions]="buttonActions"
    [enabled]="isButtonActionsEnabled"
    (isHide)="isButtonActionsEnabled=$event">
</app-button-action>
