<p-fluid>
    <div class="flex flex-col md:flex-row gap-8">
        <div class="grid grid-cols-1 md:grid-cols-12 gap-5">
            <div class="card flex flex-col lg:col-start-2 lg:col-span-5 md:col-start-1 md:col-span-6 gap-4">
                <img [src]="environment.PATH_ASSETS+'/images/auth/logo.png'"
                     alt=""
                     class="mx-auto">

                <p-message>
                    <ng-template #icon>
                        <p class="text-lg font-semibold text-center">
                            Si usted tiene inconvenientes para ingresar al sistema, comuníquese con el Ministerio de
                            Turismo
                        </p>
                    </ng-template>
                </p-message>

                <div class="font-semibold text-xl text-center">
                    INFORMACIÓN DE LA CUENTA - SITURIN
                </div>

                <form [formGroup]="form" class="flex flex-col gap-4">
                    <div class="flex flex-col gap-2">
                        <label
                            appLabel for="username"
                            label="Correo Electrónico"
                            [required]="usernameField"></label>

                        <input pInputText id="username" type="text" formControlName="username" />

                        <p-message
                            appErrorMessage
                            [errors]="usernameField.errors"
                            [touched]="usernameField.touched"
                            [dirty]="usernameField.dirty" />
                    </div>

                    <div class="flex flex-col gap-2">
                        <label
                            appLabel for="password" label="Contraseña"
                            [required]="passwordField"></label>

                        <p-password
                            id="password" type="text" formControlName="password"
                            [toggleMask]="true"
                            [feedback]="false" />

                        <p-message
                            appErrorMessage
                            [errors]="passwordField.errors"
                            [touched]="passwordField.touched"
                            [dirty]="passwordField.dirty" />
                    </div>

                    <div class="flex flex-col gap-2">
                        <p-button
                            label="Ingresar"
                            [icon]="PrimeIcons.SIGN_IN"
                            severity="success"
                            (onClick)="onSubmit()" />
                        <p-button label="Crear Cuenta" [icon]="PrimeIcons.USER_PLUS" class="mt-2" />
                        <p-button label="Recuperar Cuenta" [icon]="PrimeIcons.LOCK_OPEN" severity="warn" class="mt-2" />
                    </div>
                </form>
                <img [src]="environment.PATH_ASSETS+'/images/auth/footer.png'"
                     alt=""
                     class="mx-auto">
            </div>


            <div class="card flex flex-col lg:col-start-7 lg:col-span-5 md:col-start-7 md:col-span-6 gap-4">
                <div class="font-semibold text-xl text-center">
                    SISTEMA DE TURISMO INTELIGENTE
                </div>

                <p-message>
                    <div class="text-sm font-semibold">
                        <p>
                            <b>Importante:</b>
                            Estimado Usuario, si su establecimiento se encuentra ubicado en el cantón Quito, por
                            favor
                            acérquese a las oficinas de "Quito Turismo" para solicitar su Certificado de Registro
                            Turístico.
                        </p>
                        <p>
                            <b>Dirección:</b> Parque Bicentenario, terminales del antiguo Aeropuerto de Quito.
                        </p>
                        <p>
                            <b>Teléfono:</b> (02) 2993 300 extensiones 1003, 1035 y 1068
                        </p>
                        <p>
                            <b>Correo electrónico:</b>
                            <a href="mailto:info@quito-turismo.gob.ec"> info&#64;quito-turismo.gob.ec</a>
                        </p>
                    </div>
                </p-message>

                <div class="flex flex-col gap-2">
                    <p-scrollPanel [style]="{width: '100%', height: '440px'}">
                        <a target="_blank"
                           [href]="environment.PATH_ASSETS+'/files/auth/steps.pdf'">
                            <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
                                <div class="md:col-span-3 flex flex-col gap-2">
                                    <img
                                        [src]="environment.PATH_ASSETS+'/images/auth/cinco_pasos.svg'"
                                        alt="cabecera">
                                </div>
                                <div class="md:col-span-9 flex flex-col gap-2">
                                    <h4 class="mb-5" style="color: #01579B">5 PASOS PARA OBTENER UN REGISTRO DE
                                        TURISMO</h4>
                                    <p>Pasos para obtener un certificado de Registro de Turismo.</p>
                                </div>
                            </div>
                        </a>
                        <br>

                        <a target="_blank"
                           [routerLink]="['/simulador-externo']">
                            <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
                                <div class="md:col-span-3 flex flex-col gap-2">
                                    <img [src]="environment.PATH_ASSETS+'/images/auth/simulador_normativa.svg'"
                                         alt="cabecera">
                                </div>
                                <div class="md:col-span-9 flex flex-col gap-2">
                                    <h4 class="mb-5" style="color: #01579B">SIMULADOR DE NORMATIVA</h4>
                                    <p>Permite validar si se cumple o no con los requisitos para acceder a una
                                        clasificación y categoría
                                        específica.</p>
                                </div>
                            </div>
                        </a>
                        <br>

                        <a target="_blank"
                           [href]="environment.PATH_ASSETS+'/files/auth/external_manual.pdf'">
                            <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
                                <div class="md:col-span-3 flex flex-col gap-2">
                                    <img [src]="environment.PATH_ASSETS+'/images/auth/manual_usuario.svg'"
                                         alt="cabecera">
                                </div>
                                <div class="md:col-span-9 flex flex-col gap-2">
                                    <h4 class="mb-5" style="color: #01579B">MANUAL</h4>
                                    <p>Manual de usuario del Sistema de Turismo Inteligente - SITURIN.</p>
                                </div>
                            </div>
                        </a>
                        <br>

                        <a target="_blank"
                           [href]="environment.PATH_ASSETS+'/files/auth/terms_conditions.pdf'">
                            <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
                                <div class="md:col-span-3 flex flex-col gap-2">
                                    <img [src]="environment.PATH_ASSETS+'/images/auth/terminos_condiciones.svg'"
                                         alt="cabecera">
                                </div>
                                <div class="md:col-span-9 flex flex-col gap-2">
                                    <h4 class="mb-5" style="color: #01579B">TÉRMINOS Y CONDICIONES</h4>
                                    <p>Términos y Condiciones del Sistema de Turismo Inteligente - SITURIN.</p>
                                </div>
                            </div>
                        </a>
                    </p-scrollPanel>
                </div>
            </div>

        </div>
    </div>
</p-fluid>
