<p-fluid>
    <form [formGroup]="form" class="card flex flex-col gap-6 w-full">
        <div class="font-semibold text-xl">Proyecto</div>

        <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
            <!-- program -->
            <div class="md:col-span-12 flex flex-col gap-2">
                <label
                    appLabel
                    for="program"
                    label="Programa"
                    [required]="programField">
                </label>

                <p-select
                    [options]="programs"
                    formControlName="program"
                    optionLabel="name"
                    placeholder="Selecccione un programa" />

                <p-message
                    appErrorMessage
                    [errors]="programField.errors"
                    [touched]="programField.touched"
                    [dirty]="programField.dirty" />
            </div>

            <!-- code -->
            <div class="md:col-span-4 flex flex-col gap-2">
                <label
                    appLabel
                    for="code"
                    label="Código del proyecto institucional CPI"
                    [required]="codeField">
                </label>

                <input pInputText type="text" id="code" formControlName="code" />

                <p-message
                    appErrorMessage
                    [errors]="codeField.errors"
                    [touched]="codeField.touched"
                    [dirty]="codeField.dirty" />
            </div>

            <!-- name -->
            <div class="md:col-span-8 flex flex-col gap-2">
                <label
                    appLabel
                    for="name"
                    label="Nombre del Proyecto"
                    [required]="nameField">
                </label>

                <input pInputText type="text" id="name" formControlName="name" />

                <p-message
                    appErrorMessage
                    [errors]="nameField.errors"
                    [touched]="nameField.touched"
                    [dirty]="nameField.dirty" />
            </div>

            <!-- amount -->
            <div class="md:col-span-6 flex flex-col gap-2">
                <label
                    appLabel
                    for="amount"
                    label="Monto total del proyecto"
                    [required]="amountField">
                </label>

                <p-inputnumber mode="currency" currency="USD" formControlName="amount" />

                <p-message
                    appErrorMessage
                    [errors]="amountField.errors"
                    [touched]="amountField.touched"
                    [dirty]="amountField.dirty" />
            </div>

            <!-- term -->
            <div class="md:col-span-6 flex flex-col gap-2">
                <label
                    appLabel
                    for="term"
                    label="Plazo de ejecución del proyecto (meses)"
                    [required]="termField">
                </label>

                <p-inputnumber [useGrouping]="false" formControlName="term" />

                <p-message
                    appErrorMessage
                    [errors]="termField.errors"
                    [touched]="termField.touched"
                    [dirty]="termField.dirty" />
            </div>

            <!-- executorUndersecretary -->
            <div class="md:col-span-12 flex flex-col gap-2">
                <label
                    appLabel
                    for="executorUndersecretary"
                    label="Subsecretaría ejecutora"
                    [required]="executorUndersecretaryField">
                </label>

                <input pInputText type="text" id="executorUndersecretary" formControlName="executorUndersecretary" />

                <p-message
                    appErrorMessage
                    [errors]="executorUndersecretaryField.errors"
                    [touched]="executorUndersecretaryField.touched"
                    [dirty]="executorUndersecretaryField.dirty" />
            </div>

            <!-- executorManagement -->
            <div class="md:col-span-12 flex flex-col gap-2">
                <label
                    appLabel
                    for="executorManagement"
                    label="Direcciones ejecutoras"
                    [required]="executorManagementField">
                </label>

                <input pInputText type="text" id="executorManagement" formControlName="executorManagement" />

                <p-message
                    appErrorMessage
                    [errors]="executorManagementField.errors"
                    [touched]="executorManagementField.touched"
                    [dirty]="executorManagementField.dirty" />
            </div>

            <!-- coexecutorManagement -->
            <div class="md:col-span-12 flex flex-col gap-2">
                <label
                    appLabel
                    for="coexecutorManagement"
                    label="Direcciones o entidades co-ejecutoras"
                    [required]="coexecutorManagementField">
                </label>

                <input pInputText type="text" id="coexecutorManagement" formControlName="coexecutorManagement" />

                <p-message
                    appErrorMessage
                    [errors]="coexecutorManagementField.errors"
                    [touched]="coexecutorManagementField.touched"
                    [dirty]="coexecutorManagementField.dirty" />
            </div>

            <!-- startedAt -->
            <div class="md:col-span-6 flex flex-col gap-2">
                <label
                    appLabel
                    for="startedAt"
                    label="Fecha inicio"
                    [required]="startedAtField">
                </label>

                <p-datepicker formControlName="startedAt" />

                <p-message
                    appErrorMessage
                    [errors]="startedAtField.errors"
                    [touched]="startedAtField.touched"
                    [dirty]="startedAtField.dirty" />
            </div>

            <!-- endedAt -->
            <div class="md:col-span-6 flex flex-col gap-2">
                <label
                    appLabel
                    for="endedAt"
                    label="Fecha fin"
                    [required]="endedAtField">
                </label>

                <p-datepicker formControlName="endedAt" />

                <p-message
                    appErrorMessage
                    [errors]="endedAtField.errors"
                    [touched]="endedAtField.touched"
                    [dirty]="endedAtField.dirty" />
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
            <div class="md:col-start-4 md:col-span-6 flex flex-col gap-2">
                <p-button label="Guardar" [icon]="PrimeIcons.SAVE" (onClick)="onSubmit()"
                          [disabled]="this.form.disabled" />
            </div>
        </div>
    </form>
</p-fluid>
