<p-fluid>
    <form [formGroup]="form" class="card flex flex-col gap-6 w-full">
        <div class="font-semibold text-xl">Proyecto</div>

        <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
            <!-- name -->
            <div class="md:col-span-12 flex flex-col gap-2">
                <label
                    appLabel
                    for="name"
                    label="Nombre del plan estratégico"
                    [required]="nameField">
                </label>

                <input pInputText type="text" id="name" formControlName="name" />

                <p-message
                    appErrorMessage
                    [errors]="nameField.errors"
                    [touched]="nameField.touched"
                    [dirty]="nameField.dirty" />
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
            <div class="md:col-start-4 md:col-span-6 flex flex-col gap-2">
                <p-button label="Guardar" [icon]="PrimeIcons.SAVE" (onClick)="onSubmit()"
                          [disabled]="this.form.disabled" />
            </div>
        </div>
    </form>
</p-fluid>
